
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <a href="../Home/Index">
                            <img src="~/Content/opt-imgs/petabyte-h-logo.png" class="nav-logo" />
                        </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Logout", "Logout", "Account", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li class="navbar-brand">Welcome Back @User.Identity.Name</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })</li>
                    }*@
                </ul>
            </div>
        </div>
    </div>

    <div class="">
        @RenderBody()
        <div id="footer">
            <div class="wrapper row">
                <div class="footer__link-set row col-md-8 col-sm-12 col-12">
                    <div class="col-md-6 col-sm-6 col-12">
                        <ul>
                            <li><a href="">Accessibility Plan</a></li>
                            <li><a href="">Code of Conduct</a></li>
                            <li><a href="">Patient Saftey</a></li>
                            <li><a href="">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                        <ul>
                            <li><a href="">Strategic Plan 2020</a></li>
                            <li><a href="">Your Rights &amp; Responsibilities</a></li>
                            <li><a href="">Your Privacy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>