@model $safeprojectname$.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Login 
{
    @* Don't want user to see Header on Login, request password reset or password reset page *@
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal text-center mx-auto">
        <h2 class="signinLbl">Login</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div>
                @Html.LabelFor(model => model.Password.email, htmlAttributes: new { @class = "control-label" })
            </div>
            @Html.EditorFor(model => model.Password.email, new { htmlAttributes = new { @class = "input" } })
            <div>
            @Html.ValidationMessageFor(model => model.Password.email, "", new { @class = "text-danger" })
            </div>
            
        </div>
        <div class="form-group">
            <div>
                @Html.LabelFor(model => model.Password.password1, htmlAttributes: new { @class = "control-label" })
            </div>
            @Html.PasswordFor(model => model.Password.password1, new { htmlAttributes = new { @class = "input" } })
            <div>
            @Html.ValidationMessageFor(model => model.Password.password1, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </div>
        <div class="form-group">
                @Html.ActionLink("Forgot Password?", "ResetPassword", "Account")
        </div>
    </div>
}

@section Ajax{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>    
}

