@model $safeprojectname$.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Login
{
    @* Don't want user to see Header on Login, request password reset or password reset page *@
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal text-center mx-auto">
        <h2 class="signinLbl">Reset Password</h2>
        @if (ViewBag.Sent != null)
        {
            <p class="alert alert-success">@Html.Raw(ViewBag.Sent);</p>
        }
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div>
                @Html.LabelFor(model => model.Password.email, htmlAttributes: new { @class = "control-label" })
            </div>
            @Html.EditorFor(model => model.Password.email, new { htmlAttributes = new { @class = "input" } })
            @Html.ValidationMessageFor(model => model.Password.email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <div class="">
                <input type="submit" value="Reset Password" class="btn btn-primary" />
            </div>
        </div>
    </div>
}